@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";


@theme{
    /* Colors: */
  --color-main-bg: #F2EAD3;
  --color-sand: #DFD7BF;
  --color-brand-brown: #A4907C;
  --color-header: #3F2305;
  --color-light: #F2F2F2;
  --color-dark: #333333;
  --font-bebas: "Bebas Neue", cursive;
  --font-spartan: "League Spartan", sans-serif;
}

@layer base {
    body {
        background-color: var(--background-color-f2ead3);
        font-family: 'League Spartan', sans-serif;
    }
}